body {
    margin:0px;
}

.background {
    position: inline-block;
    width: 100vw;
    height: 800px;    
    background-color: white;
    margin: 0px;
}

.line {
    margin: 0px;
    position: fixed;
    height: 100px;
    width: 100vw;
    background-color: #b5de01;
    z-index: 1;
}

.news {
    width: 100vw;
    height: 100px;
    position: fixed;
    text-align: center;
    margin-top: -15px;
    color: white;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.border {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 115px;
    border-bottom: 1px solid #b5de01;
}

.text {
    max-width: 100vw;
    height: auto;
    position: absolute;
    top: 120px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    word-wrap: break-word;
}
