.background {
    position: inline-block;
    width: 100vw;
    height: 800px;    
    background-color: white;
}

.background2 {
    position: absolute;
    left: 70px;
    top: 25px;
    height: 500px;
    width: 650px;
    background-color: #08fe9b;
    
}
.square1 {
    position: absolute;
    left: 140px;
    top: 80px;
    height: 125px;
    width: 125px;
    background-color: white;
    z-index: 1;
}

.square2 {
    position: absolute;
    left: 550px;
    top: 350px;
    height: 125px;
    width: 125px;
    background-color: white;
    z-index: 1;
}